/* Mobile */
@media (max-width: 768px) {
  .sidebar-mobile {
    position: fixed;
    top: 56px; /* altezza navbar */
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    z-index: 1050;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .main-content {
    margin-top: 56px;
  }
}
