.global-logo {
  background-color: #ecefff;
  border-bottom: 1px solid #dee2e6;
  height: 64px;
  z-index: 1065;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1040;

  &.show {
    display: block;
  }
}

.sidebar {
  background-color: #ecefff;
  height: 100vh;
  width: 260px;
  position: fixed;
  z-index: 1050;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    left: -260px;
    transition: left 0.3s ease;

    &.show {
      left: 0;
    }
  }
}

.main-content {
  padding: 2rem;
  margin-left: 0;

  @media (min-width: 768px) {
    margin-left: 260px;
  }
}
