<!-- layout.component.html -->
<!-- LOGO MOBILE -->
<div class="global-logo d-flex d-md-none navbar navbar-light bg-light px-3 align-items-center">
  <button class="btn btn-outline-secondary me-2" (click)="toggleSidebar()">
    &#9776;
  </button>
  <span class="fw-bold fs-5">📊 Balancer</span>
</div>

<!-- LOGO DESKTOP -->
<div class="global-logo d-none d-md-flex align-items-center px-4 py-3 border-bottom">
  <span class="fw-bold fs-4">📊 Balancer</span>
</div>

<!-- Overlay per mobile -->
<div class="overlay" [class.show]="sidebarOpen" (click)="toggleSidebar()"></div>

<!-- Layout principale -->
<div class="d-flex" style="height: 100vh;">
  <!-- Sidebar -->
  <div class="sidebar p-4 shadow-sm"
       [class.d-none]="!sidebarOpen && isMobileView"
       [class.d-md-block]="!isMobileView"
       [class.show]="sidebarOpen">
    <ul class="nav flex-column">
      <p class="sidebar-section-title">Navigazione</p>
      <li class="nav-item mb-2">
        <a routerLink="/home" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Home</a>
      </li>
      <p class="sidebar-section-title">Schemi</p>
      <li class="nav-item mb-2">
        <a routerLink="/riepilogo" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Riepilogo</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/modelli" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Modelli</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/inserisci" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Inserisci schema</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/gestione-schema" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Gestione Schema</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/gestione-pasti" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Gestione Pasti</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/esporta" routerLinkActive="fw-bold text-primary bg-white shadow-sm" class="nav-link px-2 py-1 rounded text-dark">Esporta</a>
      </li>
      <li class="nav-item mt-auto">
        <button class="btn btn-outline-danger w-100 mt-4" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>

  <!-- Contenuto dinamico -->
  <div class="main-content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>