<nav class="mb-4">
  <button
    class="btn btn-outline-primary me-2"
    [class.active]="tab === 'riepilogo'"
    (click)="changeTab('riepilogo')"
  >
    📋 Riepilogo Schemi
  </button>
  <button
    class="btn btn-outline-primary me-2"
    [class.active]="tab === 'gestione-schema'"
    (click)="changeTab('gestione-schema')"
[disabled]="!schemaSelezionato"
  >
    📝 Gestione schema
  </button>

  <button
    class="btn btn-outline-primary"
    [class.active]="tab === 'gestione-pasti'"
    (click)="changeTab('gestione-pasti')"
            [disabled]="!schemaSelezionato"

  >
    🍴 Gestione Pasti
  </button>
</nav>

<!-- Area contenuti -->
<div *ngIf="tab === 'riepilogo'">
<app-riepilogo-schemi
  (selezionaSchema)="onSchemaSelezionato($event, 'gestione-schema')"
  (cambiaTab)="changeTab($event)"
></app-riepilogo-schemi>

</div>

<div *ngIf="tab === 'gestione-schema' && schemaSelezionato">
  <app-gestione-schema
    [schema]="schemaSelezionato"
    (schemaAggiornato)="onSchemaAggiornato($event)"
    (schemaEliminato)="onSchemaEliminato()"
  ></app-gestione-schema>
</div>


<div *ngIf="tab === 'gestione-pasti' && schemaSelezionato">
  <app-gestione-pasti [schemaId]="schemaSelezionato.id"></app-gestione-pasti>
</div>

