<table class="table table-striped table-hover align-middle shadow-sm rounded-3 bg-white">
  <thead class="table-primary text-primary">
    <tr>
      <th scope="col">Nome Schema</th>
      <th scope="col">Calorie</th>
      <th scope="col">Carboidrati (g)</th>
      <th scope="col">Grassi (g)</th>
      <th scope="col">Proteine (g)</th>
      <th scope="col">Acqua (L)</th>
      <th scope="col" style="width: 120px;">Schema</th>
      <th scope="col" style="width: 120px;">Pasti</th>
      <th scope="col" style="width: 120px;">Esporta</th> <!-- nuova colonna -->
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let schema of schemi" [class.table-primary]="schema === selectedSchema">
    <td data-label="Nome Schema"><strong>{{ schema.nome }}</strong></td>
    <td data-label="Calorie">{{ schema.calorie | number:'1.0-2' }}</td>
    <td data-label="Carboidrati (g)">{{ schema.carboidrati | number:'1.0-2' }}</td>
    <td data-label="Grassi (g)">{{ schema.grassi | number:'1.0-2' }}</td>
    <td data-label="Proteine (g)">{{ schema.proteine | number:'1.0-2' }}</td>
    <td data-label="Acqua (L)">{{ schema.acqua | number:'1.0-2' }}</td>
    <td data-label="Schema">
      <button
        class="btn btn-sm btn-warning me-2"
        (click)="modificaSchema(schema)"
      >
        Modifica Schema
      </button>
    </td>
    <td data-label="Pasti">
      <button
        class="btn btn-sm btn-info me-2"
        (click)="modificaPasti(schema)"
      >
        Modifica Pasti
      </button>
    </td>
    <td data-label="Esporta">
<button
  class="btn btn-sm btn-secondary"
  (click)="esportaSchemaPdf(schema)"
>
  Esporta PDF
</button>
    </td>
  </tr>
</tbody>
</table>
